.appointment {
  display: flex;
  flex-direction: column; /* Allows the app to grow and fill available space */
  max-width: 700px; /* Full width */
  min-width: 350px;
  width: 100vw;
  height: 100vh; /* Full height */
  padding: 20px; /* Padding on all sides */
  overflow: auto;
  scrollbar-width: thin;
  overflow-y: overlay;
  align-content: center;
}
.appointmentContainer {
  display: flex; /* Use flexbox to layout children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}
.delayed {
  animation-delay: 1s; /* Delay the animation by 1 second */
}

.m-gen {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
    color: #fff;
  }
}
